
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}

.header {
    margin-top: 5%;
    text-align: center;
}

.content {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coursesContainer{
    height: 300px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}

.coursesContainer-header, ul li {
    font-size: 1rem;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 80px;
}

.coursesContainer-header {
    height: 50px;
    font-size: 130%;
    font-weight: bold;
}

ul li {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
}

ul li span {
    overflow: hidden;
}

ul li:nth-child(2n) {
    background-color: rgb(221, 239, 221);
}

ul {
    height: calc(100% - 50px);
    overflow: auto;
}

ul li.selected-course {
    background-color: deepskyblue; /* or any shade of blue you prefer */
  }